div#header {
position: fixed; 
width: 100%;
}

div#logo {
width: 200px;
margin-top: 30px;
margin-left: 200px;
}



div#form {
position: absolute;
z-index: 2 ;
    right:350px;
    top: 30px;
}

.email {
width: 150px;
border: none;
color: white;
}

.password {
width: 150px;
border: none;
background-color: transparent;
}


.remember {
color: white;
}

.sign {
border: none;
background-color: transparent;
}




div#punch {
position: relative; 
z-index: 1 ;
margin-left: auto;
margin-right: auto;
height: 300px;
width: 300px;
margin-top: 250px;

}



div#background {
position: absolute;
top:0;
bottom:0;
right:0;
left:0;
overflow:hidden;
background: url('../images/body.jpg') no-repeat center center fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
} 


		

		