div#header {
position: absolute;
z-index:2 ;
height:80px;	
}

.logo 	{
margin-left:50px;
margin-top: -835px;
width: 180px;
height:180px;
}


div#form {
position: absolute;
z-index: 2 ;
    right:350px;
    top: 32px;
}

.email {
width: 150px;
border: none;
}

.password {
width: 150px;
border: none;
background-color: transparent;
}


.remember {
color: white;
}

.sign {
border: none;
background-color: transparent;
}




div#punch {
position: relative; 
z-index: 1 ;
margin-left: auto;
margin-right: auto;
height: 400px;
width: 400px;
margin-top: 250px;

}



div#background {
position: absolute;
top:0;
bottom:0;
right:0;
left:0;
overflow:hidden;
background: url('../images/body-bg.jpg') no-repeat center center fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
} 


		

		